body{
    font-family: sans-serif;
}

header{
    margin:0px 50px 0px;
    font-size:50px;
}
article{
    width: 70%;
    
}

aside{
    width: 30%;
    position: fixed;
    top:100px;
    right: 0px;
    float: right;
    text-align: center;
    background-color: #bbbbbb;
    
}

img{
    width: 90%;
}

ul{
    
    padding: 20px 20px 20px;
}

li{
    
    padding: inherit;
    display: inline;
    list-style: none;
}
.hcontainer{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
}
.vcontainer{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
}
table{
    overflow: auto;
}
p{
    display: inherit;
}
p a{
    color: #bbbbbb;
}
a{
    
    color: #666666;
    text-decoration:none;
    font-family: sans-serif;
}
a:hover{
    color: black;
}
aside ul li{
    display: block;
}

footer{
    font-size: 10px;
}

