body{
    background-image: 
        url("images/git.png");
    background-color: #dddddd;
}

p{
    font-size: x-large;
    font-weight: bolder;
    font-family: cursive;
}
table{
    border: solid;
    background-color: white;
    vertical-align: middle;
    text-align: center;
}

td{
    border-bottom: dashed;
    padding-left: 30px;
    padding-right: 30px;
}
table:hover{
    font-family: fantasy;
}
a:visited{
    color: #68211c;
}
a:nth-child(2n+1){
    font-family: monospace;
}
td:first-of-type{
    color: orange;
}